.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 300px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    background-color: #3d424d;
    justify-content: center;
    min-height: 100vh;
}

.calculator {
    margin-top: 20px;
    padding: 2px;
    max-width: 310px;
    background-color: #22252D;
    height: fit-content;
    border-radius: 9px;
    transition: height 0.2s ease;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.buttons {
    background-color: #171717;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 300px;
}


input {
    padding: 0%;
    margin: 0%;
    text-align: right;
    font-size: 50px;
    background-color: #22252D;
    color: white;
    border: none;
    outline: none;
    pointer-events: none;
}

.screen {
    width: 290px;
    margin: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.screen-value {
    font-size: 20px;
    margin-top: 10px;
}

button {
    background-color: #171515;
    border-radius: 50%;
    border: none;
    color: white;
    width: 60px;
    height: 60px;
    margin: 3px;
    margin-top: 10px;
    font-size: larger;
    grid-area: 0;
}

button.large {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 5;
    width: 130px;
    border-radius: 50px;
}

button:hover {
    background-color: #03D64F;
    color: #171515;
    transition: 0.1s ease;
}

.btnx {
    color: #03D64F;
    background-color: #171515;
    
}

.btnx:hover {
    color: #171515;
    background-color: #03D64F;
    transition: 0.2s ease;
}

p {
    padding: 5px;
    margin-top: 10px;
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: #171717;
    color: #03D64F;
 }

p:hover {
    color: white;
}

.funcbtn {
    color: #171515;
    background-color: #03D64F;
}

.funcbtn:hover {
    background-color: #07fc61;
}